<br />
<br />
<br />
<br />
<br />
<br />
<div class="main">
  <div id="body">
    <h1>What is 'Heavy Construction'?</h1>
    <p>
      &nbsp&nbsp&nbsp&nbsp&nbsp Heavy Construction means that the frame of the site itself is still being working on. In other words anything and everything
        has the potential to be changed. This could be in terms of layout, major services, or core functionality. Be advised that entire portions of the
        site can and probably will change while viewing.
    </p>
    <p>
      &nbsp&nbsp&nbsp&nbsp&nbsp While every attempt is always made to debug development/production app differences, certain elements may intially display incorrectly when new changes are
        pushed to our <a href="https://github.com/rdbacheller/omnibrel">Git repository</a>. This is because, while code is tested in both development and production mode locally, our webhost,
        <a href="https://www.heroku.com">Heroku</a> occasionally needs assets tuned in a different manner than would normally be required locally. Sorry if this
        causes any inconveniences.
    </p>
    <p>
      &nbsp&nbsp&nbsp&nbsp&nbsp During Heavy Construction be sure to visit back often to see check out what is new. Features are often rolled out very rapidly
        during this phase. Because we use Git to host web-app repository (see link above) Heroku is setup to immediately relaunch every time we push to the master branch.
        This means that the site may become unreachable at times if Heroku is building and launching a new, freshly updated version of our application from the Git
        repository. Nifty, huh?
    </p>
  </div>
</div>