<table>
  <!--<tr>
    <td colspan="3">
      <p>Here is Row #1 -- This row will be devoted to a slideshow of highlights</p>
    </td>
  </tr>-->
  <tr>
    <td colspan="3">
      <!--<p id="sunken">
        Omnibrel was started in 2015 as an overhead to parent a variety of content and production
        groups, ranging from blogs to software development, with an open application availble for
        aspiring content producers. Even if the desired subject is not an area we are currently
        exploring there is always the potential for new subject matter, as well as future expansion.<br />
        <br />
        Please visit the <a href="<%= apply_crew_url %>">Crew Application</a> page if you are interested in potentially
        being selected to come aboard Omnibrel as a new crew member. All the teams currently
        accepting new crew members will be listed in a dropbox on the form (please note that not
        all teams may be accepting new crew at this time). <br />
        <br />
        Alternatively, please visit the <a href="<%= apply_content_url %>">Content Application</a> if you are interested in
        submitting a content idea or an idea for departmental expansion. All accepted ideas will be
        properly credited to the submission user, with all rights reserved to that originating user
        until terms are reached between said user and Omnibrel.
      </p>-->
    <div id="sunken">
      <h2>What is Omnibrel?</h2>
      <p>
        Omnibrel is a content production group with one mission: to provide a hub for small, entertainment oriented services
        such as blogs, podcasts, video series, and anything else we feel other people, mainly our user-base, will enjoy.
        At present Omnibrel consists of two sites:
        &nbsp&nbsp&nbsp&nbsp&nbsp <div class="service"><a href=""><div id="name">Daedalus</div></a> - The personal blog of Omnibrel creator Ryan Bacheller</div>
        &nbsp&nbsp&nbsp&nbsp&nbsp <div class="service"><a href="http://www.magistellus-arts.com"><div id="name">Magistellus-Arts</div></a> - The business page for Augusta, Maine based group Magistellus-Arts</div>
      </p>
      <p>
        Although Omnibrel is not, currently, accepting applications for <a href="">content</a> and <a href="">crew</a>, we soon will! If you would like
        to be added to the Omnibrel <a href="">Newsletter</a>/<a href="">Mailing-list</a>, please <a href="">sign-up here</a>
      </p>
    </div>
  </tr>
  <tr>
    <div class="cooper">
    <td>
      <div class="cooper1">
      </div>
    </td>
    <td>
      <div class="cooper2">
        <p id="center">
          Check out the awesome musical stylings of <a href="https://www.jamendo.com/en/artist/355890/keffy-kay">Keffy Kay</a>.
        </p>
        <audio controls="controls">
          <source src="assets\Keffy_Kay_-_Urban_Love.mp3">
          Your browser does not support the audio element.
        </audio>
        <p id="center">-Urban Love :by: Keffy Kay-</p>
      </div>
    </td>
    <td>
      <div class="cooper3">
      </div>
    </td>
    </div>
  </tr>
</table>