<h1>OMNIBREL</h1>
<table>
  <!--<tr>
    <td id="borderless" colspan="3">
      <div id="menu_wrapper">
      <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
        <li><div class="arrow buttonbg"><a>Home</a></div></li>
      </ul>
      <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
        <li><div class="arrow buttonbg"><a>About</a></div>
          <ul>
            <li><a title="">Resources</a></li>
          </ul></li>
      </ul>
      </div>
      </td>
    </td>
  </tr>-->
  <tr>
    <td id="borderless" colspan="3">
      <h2>Welcome to Omnibrel</h2>
      <div id="menu_wrapper">
        <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
          <li><div class="arrow buttonbg"><a>Home</a></div></li>
        </ul>
        <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
          <li><div class="arrow buttonbg"><a>About</a></div>
            <ul>
              <li><a title="">Resources</a></li>
            </ul></li>
        </ul>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <p>Here is Row #1 -- This row will be devoted to a slideshow of highlights</p>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <p>Here is Row #2 -- This row will be devoted to a text blurb about OMNIBREL</p>
  </tr>
  <tr>
    <td>
      <p>Here is Row #3 Col #1 --<br>
      This column will be devoted to X</p>
    </td>
    <td>
      <p>Here is Row #3 Col #2 --<br />
      This column will be devoted to X</p>
    </td>
    <td>
      <p>Here is Row #3 Col #3 --<br />
      This column will be devoted to X</p>
    </td>
  </tr>
</table>