<table>
  <!--<tr>
    <td colspan="3">
      <p>Here is Row #1 -- This row will be devoted to a slideshow of highlights</p>
    </td>
  </tr>-->
  <tr>
    <td colspan="3">
      <p id="sunken">
        Omnibrel was started in 2015 as an overhead to parent a variety of content and production
        groups, ranging from blogs to software development, with an open application availble for
        aspiring content producers. Even if the desired subject is not an area we are currently
        exploring there is always the potential for new subject matter, as well as future expansion.<br />
        <br />
        Please visit the <a href="<%= apply_crew_url %>">Crew Application</a> page if you are interested in potentially
        being selected to come aboard Omnibrel as a new crew member. All the teams currently
        accepting new crew members will be listed in a dropbox on the form (please note that not
        all teams may be accepting new crew at this time). <br />
        <br />
        Alternatively, please visit the <a href="<%= apply_content_url %>">Content Application</a> if you are interested in
        submitting a content idea or an idea for departmental expansion. All accepted ideas will be
        properly credited to the submission user, with all rights reserved to that originating user
        until terms are reached between said user and Omnibrel.

      </p>
  </tr>
  <tr>
    <td>
      <div class="cooper1">
      </div>
    </td>
    <td>
      <div class="cooper2">
        <p id="center">
          Check out the awesome musical stylings of <a href="https://www.jamendo.com/en/artist/355890/keffy-kay">Keffy Kay</a>.
        </p>
        <audio controls="controls">
          <source src="assets\Keffy_Kay_-_Urban_Love.mp3">
          Your browser does not support the audio element.
        </audio>
        <p id="center">-Urban Love :by: Keffy Kay-</p>
      </div>
    </td>
    <td>
      <div class="cooper3">
      </div>
    </td>
  </tr>
</table>