/* line 5, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing {
  background: none;
}
/* line 8, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing h2 {
  text-align: center;
  font-size: 48px;
  font-family: "Marker Felt";
  color: black;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
/* line 17, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing p {
  padding: 0 10px 0 10px;
  font-size: 18px;
  font-weight: 800;
  color: white;
  text-shadow: -1px 0 #000, 0px 1px #000, 1px 0 #000, 0 -1px #000;
}
/* line 26, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing #divider {
  text-align: center;
}
/* line 30, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing table {
  min-width: 750px;
}
/* line 35, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing td {
  border: none;
  padding: 10px;
}
/* line 41, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing td#borderless {
  border: none;
  padding: 0;
}
/* line 46, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing p#center {
  text-align: center;
}
/* line 50, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing div#sunken {
  background-color: rgba(255, 100, 0, 0.45);
  border: 3px solid purple;
  border-radius: 15px;
  color: white;
  padding: 10px;
}
/* line 57, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing div#sunken .service {
  padding: 0 10px 0 10px;
  font-size: 18px;
  font-weight: 800;
  color: white;
  text-shadow: -1px 0 #000, 0px 1px #000, 1px 0 #000, 0 -1px #000;
}
/* line 58, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing div#sunken .service #name {
  font-size: 24px;
}
/* line 71, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing a {
  padding: 0;
}
/* line 75, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing .cooper1 {
  position: relative;
  float: left;
  width: 308px;
  min-width: 300px;
  min-height: 125px;
  margin: auto;
  border-radius: 15px;
  background-size: 100% 100%;
  border: 1px solid orangered;
  background-image: url("/assets/angel.jpg");
}
/* line 88, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing .cooper1 p {
  color: white;
}
/* line 93, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing .cooper2 {
  position: relative;
  float: left;
  width: 308px;
  min-width: 300px;
  min-height: 125px;
  margin: auto;
  border-radius: 15px;
  border: 1px solid orangered;
  background-color: rgba(128, 0, 128, 0.55);
}
/* line 105, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing .cooper2 p {
  font-size: 14px;
  color: white;
}
/* line 111, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing .cooper3 {
  position: relative;
  float: left;
  width: 308px;
  min-width: 300px;
  min-height: 125px;
  margin: auto;
  border-radius: 15px;
  background-size: cover;
  border: 1px solid orangered;
  background-image: url("/assets/bkg.jpg");
}
/* line 125, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing .cooper3 p {
  color: white;
}
/* line 130, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/landing.css.scss */
.landing audio {
  width: 225px;
  min-width: 225px;
  border-radius: 15px;
  background-color: orange;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@font-face {
  font-family: "Xtrusion";
  src: url(/assets/xtrusion.ttf) format("truetype");
}

@font-face {
  font-family: "Pamela";
  src: url(/assets/Pamela.ttf) format("truetype");
}

@font-face {
  font-family: "QuentinCaps";
  src: url(/assets/QuentinCaps.ttf) format("truetype");
}

@font-face {
  font-family: "Marker Felt";
  src: url(/assets/Marker_Felt.ttf) format("truetype");
}

@font-face {
  font-family: "KingQueen";
  src: url(/assets/the_King__26_Queen_font.ttf) format("truetype");
}

/* line 43, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
html {
  background: black;
  background-image: url(/assets/bkgrnd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 51, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
.container {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 1000px;
  min-width: 750px;
  min-height: 800px;
  border: 6px solid orangered;
  border-radius: 15px;
  float: none;
  z-index: 1;
  /*h1 {
    margin-top: -150px;
    text-align: center;
    font-size: 100px;
    text-shadow: -5px 0 darkred, 0 5px darkred, 5px 0 darkred, 0px -5px darkred;
    opacity: 1;

    font-family: "Marker Felt";
    color: orange;
  }*/
}

/* line 79, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#banner h2 {
  text-align: center;
  font-style: italic;
  font-family: "KingQueen";
  margin: 0;
  color: red;
  text-shadow: -4px 0 darkred, 0 4px darkred, 4px 0 darkred, 0 -4px darkred;
  font-size: 38px;
}

/* line 91, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
.footer {
  position: relative;
  width: 750px;
  min-width: 750px;
  min-height: 20px;
  margin: 10px auto;
  padding: 5px;
  border-radius: 15px;
  opacity: .85;
  font-size: 18px;
  z-index: 1;
  text-align: center;
  background: #000000;
  border: 6px solid purple;
  float: none;
}
/* line 108, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
.footer p {
  margin: 0 auto;
  color: white;
}

/* line 115, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
div#menu_wrapper {
  margin: auto;
  width: 37%;
}

/* line 121, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
a:link {
  color: white;
  font-style: italic;
  font-size: 22px;
}

/* line 127, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
a:visited {
  color: white;
}

/* line 132, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
a:hover {
  color: greenyellow;
}

/* line 136, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
a:active {
  color: darkred;
}

/* line 147, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
._menu {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9;
}

/* line 154, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_wrapper li {
  float: left;
}

/* line 158, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_wrapper {
  padding: 0;
  border-style: solid;
  border-color: #000000;
  border-width: 0;
  border-radius: 0;
  background-color: #000000;
  box-shadow: none;
  border-collapse: separate;
  font-size: 0;
  line-height: 0;
}

/* line 171, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_wrapper.quirks {
  margin-bottom: 1px;
  margin-right: 1px;
}

/* line 176, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_wrapper.quirks #_mbmcpebul_table ul li {
  width: 100%;
}

/* line 180, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
  width: auto;
}

/* line 191, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table li a {
  line-height: 17px;
  font-size: 15px;
  font-family: Arial,sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  padding: 7px 30px 7px 15px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 206, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table li div.buttonbg {
  height: 31px;
  width: 59px;
  line-height: 0;
  background-color: #000000;
  border-style: solid;
  border-color: #000000;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

/* line 221, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table li:hover div.buttonbg a, #_mbmcpebul_table li.expanded a.topitem, #_mbmcpebul_table li.active a.topitem,
#_mbmcpebul_table li.itemhot a.topitem, #_mbmcpebul_table li a:hover {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

/* line 229, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table li.expanded div.buttonbg, #_mbmcpebul_table li.active div.buttonbg, #_mbmcpebul_table li.itemhot div.buttonbg, #_mbmcpebul_table li:hover div.buttonbg {
  background-color: #2E2E2E;
  box-shadow: none;
}

/* line 234, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table li.expanded div.buttonbg, #_mbmcpebul_table li.active div.buttonbg, #_mbmcpebul_table li.itemhot div.buttonbg, #_mbmcpebul_table li:hover div.buttonbg {
  border-color: #800421;
}

/* line 238, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul li a {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 252, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul li:hover > a {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

/* line 261, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul li.subexpanded a.subexpanded, #_mbmcpebul_table ul li.subitemhot a.subitemhot, #_mbmcpebul_table ul li a:hover {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

/* line 270, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul li:hover, #_mbmcpebul_table ul li.subexpanded, #_mbmcpebul_table ul li.subitemhot {
  border-color: #DDDDDD;
  background-color: #6AA700;
  box-shadow: none;
}

/* line 276, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #870724;
  border-width: 0;
  padding: 0;
  background: #2E2E2E;
  font-size: 0;
  border-radius: 0;
}

/* line 287, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul li a {
  padding: 7px 15px 7px 13px;
  text-align: left;
}

/* line 292, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul li.separator {
  padding: 7px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

/* line 300, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul li.separator div {
  border-top: 1px solid #EEEEEE;
  font-size: 0px;
}

/* line 305, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul li {
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: #2E2E2E;
  display: block;
}

/* line 325, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul {
  box-shadow: 3px 3px 5px -1px #333333;
}

/* line 329, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table a img {
  border: none;
}

/* line 333, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table li {
  list-style: none;
  float: left;
  margin: 0px 1px 1px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

/* line 342, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table.css_menu li {
  position: relative;
}

/* line 346, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

/* line 350, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

/* line 357, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

/* line 363, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  opacity: 0;
}

/* line 375, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul {
  position: absolute;
  top: -99999px;
  z-index: 4000;
}

/* line 381, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

/* line 386, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table .submenu_arrow {
  margin-left: 8px;
}

@media screen and (max-width: 500px) {
  /* line 392, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
  #_mbmcpebul_wrapper:not(.scripted) {
    text-align: center;
  }

  /* line 396, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
  #_mbmcpebul_wrapper:not(.scripted) #_mbmcpebul_table li {
    float: none;
    vertical-align: top;
  }
}
/* line 402, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_wrapper.centeritems {
  text-align: center;
}

/* line 406, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_wrapper.centeritems #_mbmcpebul_table li {
  float: none;
  vertical-align: top;
}

/* line 410, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table div.arrow {
  background-image: url(ebab_mbmcp_d.png);
  background-repeat: no-repeat;
  background-position: right center;
  height: 100%;
}

/* line 417, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table ul li a.with_arrow {
  background-image: url(ebab_mbmcp_c.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 19px;
}

/* line 424, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#_mbmcpebul_table li a.button_2, #_mbmcpebul_table li div a.button_2 {
  padding-right: 15px;
}

/* line 434, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_wrapper.quirks {
  margin-bottom: 1px;
  margin-right: 1px;
}

/* line 439, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_wrapper.quirks #mbmcpebul_table ul li {
  width: 100%;
}

/* line 443, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: -1px;
  line-height: 0px;
  font-size: 0px;
  display: inline;
  width: auto;
  opacity: 0.75;
}

/* line 454, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table li a {
  line-height: 20px;
  font-size: 15px;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  padding: 9px 24px 9px 9px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 469, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table li div.buttonbg {
  height: 38px;
  width: 80px;
  line-height: 0;
  background-color: #000000;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

/* line 484, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table li:hover div.buttonbg a, #mbmcpebul_table li.expanded a.topitem, #mbmcpebul_table li.active a.topitem,
#mbmcpebul_table li.itemhot a.topitem, #mbmcpebul_table li a:hover {
  color: #FE9902;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

/* line 492, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  background-color: #000000;
  box-shadow: none;
}

/* line 497, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  border-color: #FE9902;
}

/* line 501, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul li a {
  color: #FFFFFF;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 515, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul li:hover > a {
  color: #FE9902;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

/* line 524, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul li.subexpanded a.subexpanded, #mbmcpebul_table ul li.subitemhot a.subitemhot, #mbmcpebul_table ul li a:hover {
  color: #FE9902;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

/* line 533, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul li:hover, #mbmcpebul_table ul li.subexpanded, #mbmcpebul_table ul li.subitemhot {
  border-color: #FE9902;
  background-color: #000000;
  box-shadow: none;
}

/* line 539, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  padding: 9px;
  background: #000000;
  font-size: 0;
  border-radius: 0;
}

/* line 550, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul li a {
  padding: 9px 17px 9px 15px;
  text-align: left;
}

/* line 555, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul li.separator {
  padding: 9px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

/* line 563, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul li.separator div {
  border-top: 1px solid #FFFFFF;
  font-size: 0px;
}

/* line 568, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul li {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: #000000;
  display: block;
}

/* line 588, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table a img {
  border: none;
}

/* line 592, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table li {
  list-style: none;
  float: left;
  margin: 0px 1px 1px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

/* line 601, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table.css_menu li {
  position: relative;
}

/* line 605, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

/* line 609, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

/* line 616, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

/* line 622, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property: opacity;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  opacity: 0;
}

/* line 634, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul {
  position: absolute;
  top: -99999px;
  z-index: 4000;
}

/* line 640, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

/* line 645, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table .submenu_arrow {
  margin-left: 8px;
}

@media screen and (max-width: 500px) {
  /* line 651, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
  #mbmcpebul_wrapper:not(.scripted) {
    text-align: center;
  }

  /* line 655, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
  #mbmcpebul_wrapper:not(.scripted) #mbmcpebul_table li {
    float: none;
    vertical-align: top;
  }
}
/* line 661, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_wrapper.centeritems {
  text-align: center;
}

/* line 665, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_wrapper.centeritems #mbmcpebul_table li {
  float: none;
  vertical-align: top;
}

/* line 669, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table a.with_img_4 span.img_4x5, .mbmcpebul_menulist span.img_4x5 {
  width: 4px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}

/* line 676, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table li:hover > a span.img_4x5, #mbmcpebul_table li.subexpanded > a span.img_4x5 {
  background-position: 0 -5px;
}

/* line 680, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table div.arrow {
  background-image: url(ebab_mbmcp_d.png);
  background-repeat: no-repeat;
  background-position: right center;
  height: 100%;
}

/* line 687, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table li:hover div.arrow, #mbmcpebul_table li.active div.arrow, #mbmcpebul_table li.expanded div.arrow, #mbmcpebul_table li.itemhot div.arrow {
  background-image: url(ebab_mbmcp_d2.png);
}

/* line 691, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul li a.with_arrow {
  background-image: url(ebab_mbmcp_c.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 21px;
}

/* line 698, /home/ryan/Projects/Web/Rails/omnibrel/app/assets/stylesheets/application.css.scss */
#mbmcpebul_table ul li a.with_arrow:hover, #mbmcpebul_table ul li:hover > a.with_arrow, #mbmcpebul_table ul li.subexpanded > a.with_arrow {
  background-image: url(ebab_mbmcp_c2.png);
}
