/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Xtrusion";
  src: font-url('xtrusion.ttf') format("truetype");
}

@font-face {
  font-family: "Pamela";
  src: font-url('Pamela.ttf') format("truetype");
}

@font-face {
  font-family: "QuentinCaps";
  src: font-url('QuentinCaps.ttf') format("truetype");
}

@font-face {
  font-family: "Marker Felt";
  src: font-url('Marker_Felt.ttf') format("truetype");
}

@font-face {
  font-family: "KingQueen";
  src: font-url('the_King__26_Queen_font.ttf') format("truetype");
}

html {
  background: black;
  //background-image: url(image_path("bkgrnd.jpg"));
  background-image: image-url("bkgrnd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(0,0,0,0.75);
  //background-image: url(image_path("_bkgrnd_.jpg"));
  //background-size: 100% 100%;
  width: 1000px;
  min-width: 750px;
  min-height: 800px;
  border: 6px solid orangered;
  border-radius: 15px;
  float: none;
  z-index: 1;

  /*h1 {
    margin-top: -150px;
    text-align: center;
    font-size: 100px;
    text-shadow: -5px 0 darkred, 0 5px darkred, 5px 0 darkred, 0px -5px darkred;
    opacity: 1;

    font-family: "Marker Felt";
    color: orange;
  }*/
}

#banner {
  h2 {
    text-align: center;
    font-style: italic;
    font-family: "KingQueen";
    margin: 0;
    color: red;
    text-shadow: -4px 0 darkred, 0 4px darkred, 4px 0 darkred, 0 -4px darkred;

    font-size: 38px;
  }
}

.footer {
  position: relative;
  width: 750px;
  min-width: 750px;
  min-height: 20px;
  margin: 10px auto;
  padding: 5px;
  border-radius: 15px;
  opacity: .85;
  font-size: 18px;
  z-index: 1;

  text-align: center;
  background: #000000;
  border: 6px solid purple;
  float: none;

  p {
    margin: 0 auto;

    color: white;
  }
}

div#menu_wrapper {
  //padding: 0 0 0 250px;
  margin: auto;
  width: 37%;
}

a:link {
  color: white;
  font-style: italic;
  font-size: 22px;
}

a:visited {
  color: white;

}

a:hover {
  color: greenyellow;
}

a:active {
  color: darkred
}

// Here is some menu code. . .


// #########################
// ######## MNMENU #########
// #########################

._menu {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9;
}

#_mbmcpebul_wrapper li {
  float: left;
}

#_mbmcpebul_wrapper {
  padding: 0;
  border-style: solid;
  border-color: #000000;
  border-width: 0;
  border-radius: 0;
  background-color: #000000;
  box-shadow: none;
  border-collapse: separate;
  font-size: 0;
  line-height: 0;
}

#_mbmcpebul_wrapper.quirks {
  margin-bottom: 1px;
  margin-right: 1px;
}

#_mbmcpebul_wrapper.quirks #_mbmcpebul_table ul li {
  width: 100%;
}

#_mbmcpebul_table {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
  width: auto;
}

#_mbmcpebul_table li a {
  line-height: 17px;
  font-size: 15px;
  font-family: Arial,sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  padding: 7px 30px 7px 15px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#_mbmcpebul_table li div.buttonbg {
  height: 31px;
  width: 59px;
  line-height: 0;
  background-color: #000000;
  border-style: solid;
  border-color: #000000;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

#_mbmcpebul_table li:hover div.buttonbg a, #_mbmcpebul_table li.expanded a.topitem, #_mbmcpebul_table li.active a.topitem,
#_mbmcpebul_table li.itemhot a.topitem, #_mbmcpebul_table li a:hover {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}


#_mbmcpebul_table li.expanded div.buttonbg, #_mbmcpebul_table li.active div.buttonbg, #_mbmcpebul_table li.itemhot div.buttonbg, #_mbmcpebul_table li:hover div.buttonbg {
  background-color: #2E2E2E;
  box-shadow: none;
}

#_mbmcpebul_table li.expanded div.buttonbg, #_mbmcpebul_table li.active div.buttonbg, #_mbmcpebul_table li.itemhot div.buttonbg, #_mbmcpebul_table li:hover div.buttonbg {
  border-color: #800421;
}

#_mbmcpebul_table ul li a {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#_mbmcpebul_table ul li:hover > a {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#_mbmcpebul_table ul li.subexpanded a.subexpanded, #_mbmcpebul_table ul li.subitemhot a.subitemhot, #_mbmcpebul_table ul li a:hover {
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#_mbmcpebul_table ul li:hover, #_mbmcpebul_table ul li.subexpanded, #_mbmcpebul_table ul li.subitemhot {
  border-color: #DDDDDD;
  background-color: #6AA700;
  box-shadow: none;
}

#_mbmcpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #870724;
  border-width: 0;
  padding: 0;
  background: #2E2E2E;
  font-size: 0;
  border-radius: 0;
}

#_mbmcpebul_table ul li a {
  padding: 7px 15px 7px 13px;
  text-align: left;
}

#_mbmcpebul_table ul li.separator {
  padding: 7px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#_mbmcpebul_table ul li.separator div {
  border-top: 1px solid #EEEEEE;
  font-size: 0px;
}

#_mbmcpebul_table ul li {
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: #2E2E2E;
  display: block;
}


#_mbmcpebul_table ul {
  box-shadow: 3px 3px 5px -1px #333333;
}

#_mbmcpebul_table a img {
  border: none;
}

#_mbmcpebul_table li {
  list-style: none;
  float: left;
  margin: 0px 1px 1px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

#_mbmcpebul_table.css_menu li {
  position: relative;
}

#_mbmcpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#_mbmcpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#_mbmcpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#_mbmcpebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#_mbmcpebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#_mbmcpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#_mbmcpebul_table .submenu_arrow {
  margin-left: 8px;
}


@media screen and (max-width: 500px) {
  #_mbmcpebul_wrapper:not(.scripted) {
    text-align: center;
  }

  #_mbmcpebul_wrapper:not(.scripted) #_mbmcpebul_table li {
    float: none;
    vertical-align: top;
  }
}

#_mbmcpebul_wrapper.centeritems {
  text-align: center;
}

#_mbmcpebul_wrapper.centeritems #_mbmcpebul_table li {
  float: none;
  vertical-align: top;
}
#_mbmcpebul_table div.arrow {
  background-image: url(ebab_mbmcp_d.png);
  background-repeat: no-repeat;
  background-position: right center;
  height: 100%;
}

#_mbmcpebul_table ul li a.with_arrow {
  background-image: url(ebab_mbmcp_c.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 19px;
}

#_mbmcpebul_table li a.button_2, #_mbmcpebul_table li div a.button_2 {
  padding-right: 15px;
}



// #########################
// ######## NAVBAR #########
// #########################

#mbmcpebul_wrapper.quirks {
  margin-bottom: 1px;
  margin-right: 1px;
}

#mbmcpebul_wrapper.quirks #mbmcpebul_table ul li {
  width: 100%;
}

#mbmcpebul_table {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: -1px;
  line-height: 0px;
  font-size: 0px;
  display: inline;
  width: auto;
  opacity: 0.75;
}

#mbmcpebul_table li a {
  line-height: 20px;
  font-size: 15px;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  padding: 9px 24px 9px 9px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mbmcpebul_table li div.buttonbg {
  height: 38px;
  width: 80px;
  line-height: 0;
  background-color: #000000;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

#mbmcpebul_table li:hover div.buttonbg a, #mbmcpebul_table li.expanded a.topitem, #mbmcpebul_table li.active a.topitem,
#mbmcpebul_table li.itemhot a.topitem, #mbmcpebul_table li a:hover {
  color: #FE9902;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}


#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  background-color: #000000;
  box-shadow: none;
}

#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  border-color: #FE9902;
}

#mbmcpebul_table ul li a {
  color: #FFFFFF;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mbmcpebul_table ul li:hover > a {
  color: #FE9902;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li.subexpanded a.subexpanded, #mbmcpebul_table ul li.subitemhot a.subitemhot, #mbmcpebul_table ul li a:hover {
  color: #FE9902;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li:hover, #mbmcpebul_table ul li.subexpanded, #mbmcpebul_table ul li.subitemhot {
  border-color: #FE9902;
  background-color: #000000;
  box-shadow: none;
}

#mbmcpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  padding: 9px;
  background: #000000;
  font-size: 0;
  border-radius: 0;
}

#mbmcpebul_table ul li a {
  padding: 9px 17px 9px 15px;
  text-align: left;
}

#mbmcpebul_table ul li.separator {
  padding: 9px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbmcpebul_table ul li.separator div {
  border-top: 1px solid #FFFFFF;
  font-size: 0px;
}

#mbmcpebul_table ul li {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: #000000;
  display: block;
}


#mbmcpebul_table a img {
  border: none;
}

#mbmcpebul_table li {
  list-style: none;
  float: left;
  margin: 0px 1px 1px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

#mbmcpebul_table.css_menu li {
  position: relative;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbmcpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mbmcpebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mbmcpebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbmcpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbmcpebul_table .submenu_arrow {
  margin-left: 8px;
}


@media screen and (max-width: 500px) {
  #mbmcpebul_wrapper:not(.scripted) {
    text-align: center;
  }

  #mbmcpebul_wrapper:not(.scripted) #mbmcpebul_table li {
    float: none;
    vertical-align: top;
  }
}

#mbmcpebul_wrapper.centeritems {
  text-align: center;
}

#mbmcpebul_wrapper.centeritems #mbmcpebul_table li {
  float: none;
  vertical-align: top;
}
#mbmcpebul_table a.with_img_4 span.img_4x5, .mbmcpebul_menulist span.img_4x5 {
  width: 4px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}

#mbmcpebul_table li:hover > a span.img_4x5, #mbmcpebul_table li.subexpanded > a span.img_4x5 {
  background-position: 0 -5px;
}

#mbmcpebul_table div.arrow {
  background-image: url(ebab_mbmcp_d.png);
  background-repeat: no-repeat;
  background-position: right center;
  height: 100%;
}

#mbmcpebul_table li:hover div.arrow, #mbmcpebul_table li.active div.arrow, #mbmcpebul_table li.expanded div.arrow, #mbmcpebul_table li.itemhot div.arrow {
  background-image: url(ebab_mbmcp_d2.png);
}

#mbmcpebul_table ul li a.with_arrow {
  background-image: url(ebab_mbmcp_c.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 21px;
}

#mbmcpebul_table ul li a.with_arrow:hover, #mbmcpebul_table ul li:hover > a.with_arrow, #mbmcpebul_table ul li.subexpanded > a.with_arrow {
  background-image: url(ebab_mbmcp_c2.png);
}