// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing {
  background: none;

  h2 {
    text-align: center;
    font-style: italic;
    font-family: "KingQueen";
    margin: 0;
    color: red;
    text-shadow: -4px 0 darkred, 0 4px darkred, 4px 0 darkred, 0 -4px darkred;

    font-size: 42px;
  }

  p {
    padding: 0 10px 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
  }

  #divider {
    text-align: center;
  }

  table {
    min-width: 750px;

  }

  td {
    //border: 2px solid black;
    border: none;
    padding: 10px;
  }

  td#borderless {
    border: none;
    padding: 0;
  }

  p#center {
    text-align: center;
  }

  p#sunken {
    background-color: orangered;
    border: 6px solid darkred;
    border-radius: 15px;
    color: white;
    opacity: 0.99;
    padding: 10px;
  }

  a {
    padding: 0;
  }
}