// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing {
  background: none;

  h2 {
    text-align: center;
    font-size: 48px;
    font-family: "Marker Felt";

    color: black;
    text-shadow: -2px 0 #FFF, 0 2px #FFF, 2px 0 #FFF, 0 -2px #FFF ;
  }

  p {
    padding: 0 10px 0 10px;
    font-size: 18px;
    font-weight: 800;

    color: white;
    text-shadow: -1px 0 #000, 0px 1px #000, 1px 0 #000, 0 -1px #000;
  }

  #divider {
    text-align: center;
  }

  table {
    min-width: 750px;

  }

  td {
    //border: 2px solid black;
    border: none;
    padding: 10px;
  }

  td#borderless {
    border: none;
    padding: 0;
  }

  p#center {
    text-align: center;
  }

  div#sunken {
    background-color: rgba(255,100,0,0.45);
    border: 3px solid purple;
    border-radius: 15px;
    color: white;
    padding: 10px;

    .service {
      #name {
        font-size: 24px;
      }

      padding: 0 10px 0 10px;
      font-size: 18px;
      font-weight: 800;

      color: white;
      text-shadow: -1px 0 #000, 0px 1px #000, 1px 0 #000, 0 -1px #000;
    }
  }

  a {
    padding: 0;
  }

  .cooper1 {
    position: relative;
    float: left;
    width: 308px;
    min-width: 300px;
    min-height: 125px;
    margin: auto;
    border-radius: 15px;
    background-size: 100% 100%;

    border: 1px solid orangered;
    background-image: url(image_path("angel.jpg"));

    p {
      color: white;
    }
  }

  .cooper2 {
    position: relative;
    float: left;
    width: 308px;
    min-width: 300px;
    min-height: 125px;
    margin: auto;
    border-radius: 15px;

    border: 1px solid orangered;
    background-color: rgba(128,0,128,0.55);

    p {
      font-size: 14px;
      color: white;
    }
  }

  .cooper3 {
    position: relative;
    float: left;
    width: 308px;
    min-width: 300px;
    min-height: 125px;
    margin: auto;
    border-radius: 15px;
    background-size: cover;

    border: 1px solid orangered;
    background-image: url(image_path("bkg.jpg"));


    p {
      color: white;
    }
  }

  audio {
    width: 225px;
    min-width: 225px;
    border-radius: 15px;

    background-color: orange;
  }
}