<table id="construction">
  <tr>
    <td>
    <div class="const_stub">
      <!--
              # This is for site development;
              # disable and remove this code once base-level-development ::
              # phase-0 development is finished and the site is no longer :
              # "Under Construction"
              #############################################################
              RDB
         -->
      <div class="construction">
        <div id="barrier">
          <img src="<%= image_url("sqr_warning.png") %>" />
          <h1>This Site Is Currently Under
            '<a href="<%= construction_heavy_url %>"><%= construction_level = "Heavy Construction" %></a>'
          </h1>
          <img src="<%= image_url("sqr_warning.png") %>" />
        </div>
        <div id="backer"></div>
      </div>
    </div>
    </td>
  </tr>
</table>